In [2]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import numpy as np
import pandas as pd

In [ ]:
#Load the trained model, the scaler and onehot pickle

model = load_model('model.h5')


with open('label_encoder_gender.pkl', 'rb') as file:
    label_encoder_gender= pickle.load(file)

with open('OHE_geo.pkl','rb')as file:
    OHE_geo = pickle.load(file)

with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [4]:
input_data = {
    'CreditScore': 600,
    'Geography':'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

geo_encoded =OHE_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns= OHE_geo.get_feature_names_out(['Geography']))

geo_encoded_df

c:\Users\MTHA\Downloads\annclassification (2)\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [5]:
input_data = pd.concat([input_data.reset_index(drop=True), geo_encoded_df], axis =1)

AttributeError: 'dict' object has no attribute 'reset_index'

In [ ]:
input_data_df = pd.DataFrame([input_data])
input_data_df.head()

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [ ]:
input_data_df['Gender'] = label_encoder_gender.transform(input_data_df['Gender'])
input_data_df

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France       1  ...          1               1            50000

[1 rows x 10 columns]

In [ ]:
input_data_df = pd.concat([input_data_df.drop('Geography', axis=1),geo_encoded_df], axis=1)
input_data_df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [ ]:
input_scaled = scaler.transform(input_data_df)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [ ]:
#Model Prediction

prediction = model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 212ms/step

array([[0.03720856]], dtype=float32)

In [ ]:
prediction_prblty = prediction[0][0]

In [ ]:
prediction_prblty

np.float32(0.037208565)

In [ ]:
if prediction_prblty > 0.5:
    print("Churn likelyhood high")

else:
    print("Churn likelyhood low")

Churn likelyhood low